/*resetando*/
*{margin:0; padding: 0; box-sizing: border-box;}
#exemplo{
    border: solid red;
}
#exemplo1{
    border:double red;
}
#exemplo2{
    border: groove red;
}
#exemplo3{
    border: ridge red;
}
#exemplo4{
    border: inset red;
}
#exemplo5{
    border: outset red;
}

